<form style='display: none' name="unnax_payment_data_form" action="http://demo.unnax.net/api/v2/cashub/init" method="post">
    Merchant id <input type="text" name="merchant_id" value="demo">
    Signature <input type="text" name="merchant_signature" value="0dd9d0ccbca50f7ca2ad80437db8732637fbba24"><!-- sha1(order_code + merchant_id) -->
    Amount <input type="text" name="amount" value="10052"/>
    Order ID <input type="text" name="order_code" value="ABST00018"/>
    Bank Order code <input type="text" name="bank_order_code" value=""/>
    Concept <input type="text" name="concept" value=""/>
    Currency <input type="text" name="currency" value="EUR"/>
    url_ok <input type="text" name="url_ok" value="http://test.com/ok.php"/>
    url_ko <input type="text" name="url_ko" value="http://test.com/ko.php"/>
    url_callback <input type="text" name="callback_url" value="http://test.com/callback.php"/>
</form>
<script language="JavaScript">
    document.unnax_payment_data_form.submit();
</script>